body {
    background-color: #011627;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    margin-bottom: 5%;
}

#videos {
    width: calc(100vw - 6%);
    border-collapse: separate;
    border-spacing: 0 1em;
}
thead th {
    border-bottom: 1px solid cornflowerblue;
}
thead th:hover {
    cursor: pointer;
}
thead th, tbody td {
    text-align: left;
    width: 15%;
}
tbody tr {
    margin-bottom: 3%;
}

tbody tr.watched-video {
    color: green;
}

section:not(section:last-child) {
    margin-bottom: 3%;
}